<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQkXI5LaS7TalchizBuZY8Rg0Qz2qqMkM</string>
	<key>GCM_SENDER_ID</key>
	<string>592579016825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appDemo.AnalyticsExample</string>
	<key>PROJECT_ID</key>
	<string>analyticsexample-6aecc</string>
	<key>STORAGE_BUCKET</key>
	<string>analyticsexample-6aecc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:592579016825:ios:4d879a5687da55e86e3ca8</string>
</dict>
</plist>
